<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/history.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Basic Banking System</title>
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <div id="logo">
          <img src="/static/image/logo.png" , alt="" />
        </div>
        <li><a href="/"> Home </a></li>
        <li><a href="/view"> Our Customers </a></li>
        <li><a href="/transaction" class="active"> Transaction history </a></li>
      </ul>
    </nav>
    <section id="body" style="overflow-x: auto">
      <h1 class="his">Transaction History</h1>

      <table id="customers">
        <thead>
          <th>Serial No.</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Amount</th>
          <th>Time Of Transaction</th>
        </thead>
        <tbody></tbody>
      </table>
    </section>
    <footer id="footer">Developed by Sandy | @TheSparksFoundation</footer>
    <script src="/static/transaction.js"></script>
  </body>
</html>
